---
import Box from "../components/Box.astro";
---

<footer>
    <Box>
        <a href="https://www.furaffinity.net/user/myoti">Furaffinity</a>
        <a href="https://bsky.app/profile/battypuffy.bsky.social"
            >BlueSky (ABDL)</a
        >
        <a href="https://bsky.app/profile/mxbattybelly.bsky.social"
            >BlueSky (Vore)</a
        >
        <a href="https://t.me/myoti">Telegram</a>
        <a href="https://t.me/+QGwzCZDk2BACWVNI">Telegram (ABDL)</a>
        <a href="https://cubhub.social/@myoti">Mastodon (ABDL)</a>
        <a href="https://subscribestar.adult/myoti">Subscribestar</a>
    </Box>
    <div class="copyright">
        <p>&copy; <span id="year">2026</span> Myoti. All rights reserved.</p>
    </div>
</footer>

<style is:global>
    footer {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    footer div.box {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .copyright {
        color: var(--main-color);
        text-align: center;
        margin: 0 20px;
    }

    @media (min-width: 768px) {
        footer .links {
            flex-direction: row;
        }

        footer .links a {
            text-align: left;
        }
    }
</style>

<script>
    (function () {
        const el = document.getElementById("year");
        if (!el) {
            return;
        }
        el.textContent = new Date().getFullYear().toString();
    })();
</script>
